[2020-06-14 13:37] boyfromhell opened #1 "redirect"
if you redirect to a page not show.
same page is good
[code]

[2020-06-15 00:56] jantinnerezo commented on #1
Hey @boyfromhell it's currently not supported for redirects and page reload but I think of considering to add a support for it. Thanks!

[2020-06-15 18:28] #1 closed

[2020-07-09 11:57] oluwatosinolamilekan opened #4 "livewire alert does not work with livewire 1.2"

[2020-07-09 16:43] jantinnerezo commented on #4
Hello @oluwatosinolamilekan can you provide more information about the issue? just tested it also on livewire 1.3 and it's working.

[2020-08-11 16:39] HowardF opened #5 "Implementing confirm dialog"
Hi,
I am trying to implement confirm dialog like so in LivewireAlertServiceProvider
[code]
The dialog shows fine but I am getting lost on stopping event propagation after initial button is pressed. Any suggestions?

[2020-08-12 22:11] #5 closed

[2020-10-03 14:08] MarkGovor opened #6 "livewire-alert with ide-helper"
Hello, please correct your package

  Cannot instantiate trait Jantinnerezo\LivewireAlert\LivewireAlert

  at C:\Users\Admin\Desktop\web-laravel-8\vendor\jantinnerezo\livewire-alert\src\LivewireAlertServiceProvider.php:63
     59▕         $this->mergeConfigFrom(__DIR__ . '/../config/config.php', 'livewire-alert');
     60▕
     61▕         // Register the main class to use with the facade
     62▕

[2020-10-08 16:44] MichaelGatuma opened #7 "Conflict with laravel 8 and livewire 2.0"
![Screenshot (49)](https://user-images.githubusercontent.com/50529359/95488395-2a0e6000-099e-11eb-914f-7ff650cc215c.png)

### Exception
[code]
### To regenerate:
1. Install new laravel application with jetstream
`$ laravel new laravelapp --jet`
2. Install livewire-alert
`$ composer require jantinnerezo/livewire-alert`
3. Open dashboard `[http://127.0.0.1:8000/dashboard](http://127.0.0.1:8000/dashb

[2020-10-08 16:58] jantinnerezo commented on #6
Hello @MarkGovor, sorry for the response, I haven't use an ide-helper before. Did you tried dump-autoload?

[2020-10-08 16:59] jantinnerezo commented on #7
Hi @MichaelGatuma! Did you create a navigation-dropdown component? I guess you included it somewhere in your views and laravel can't find it.

[2020-10-08 17:10] MichaelGatuma commented on #7
Hello @jantinnerezo! That is with the default installation of laravel, so the navigation-dropdown exists, as well as all the other components.
The same exception is thrown for all the components like the two-factor-authentication-form, logout-other-browser-sessions-form etc.
I think it should just work with those without conflicts straight out of the box.

[2020-10-08 17:29] jantinnerezo commented on #7
So weird, I haven't encounter that issue when installing it on my laravel 8 with jetstream project.

Did you try clearing the views?

[2020-10-08 18:05] MichaelGatuma commented on #7
No, not yet. let me try

[2020-10-08 18:16] MichaelGatuma commented on #7
I have cleared everything cached including compiled classes and packages. The error still persists.

[2020-10-09 09:30] jantinnerezo commented on #7
@MichaelGatuma I will try reproducing it later tonight with a fresh installation of Laravel + Jetstream.

[2020-10-21 00:45] dukenst2006 commented on #7
I got this issue as well on Laravel 8 with jetsream, livewire is unable to find any components where LivewireAlert not imported. only the component where i imported LivewireAlert be able to load. all others components messed. after remove the package all worked as expected. thanks to look into the issue.

Best,

[2020-10-24 16:02] MichaelGatuma commented on #7
@jantinnerezo

[2020-10-31 10:33] mafalda2007 commented on #7
Hi @jantinnerezo, the whole project stopped working after installing the package.

Same error :(
`> Livewire\Exceptions\ComponentNotFoundException

[2020-11-02 16:13] jantinnerezo commented on #7
Hi guys! sorry for the very late response. I added a new 2.0 release, it should fix the **Livewire\Exceptions\ComponentNotFoundException**

Thank you guys!

[2020-11-02 16:14] #6 closed

[2020-11-02 16:14] #4 closed

[2020-11-02 16:30] jantinnerezo commented on #7
Just removed the LivewireAlert trait guys to your livewire components and just use the $this->alert directly

[2020-11-02 22:09] mohamedsabil83 commented on #7
Return this message: **Unable to locate a class or view for component [livewire-alert::script]**
Laravel 8 without JetStream + Livewire 2

Does this line changed **`<x-livewire-alert::script />`**?

[2020-11-02 22:14] mohamedsabil83 commented on #7
@jantinnerezo The right one is `<x-livewire-alert::scripts />`. I make a PR #8 to update it on the README file

[2020-11-03 08:06] jantinnerezo commented on #7
Yeah sorry about that typo, its merged now. Thank you so much!

[2020-11-03 11:43] mafalda2007 commented on #7
Great! Thanks!

[2020-11-03 11:50] mafalda2007 opened #9 "Confirm delete"
Hi, its posible confirm delete?
How i do it?
Now I can only display a message that it was done.

app/http/livewire/users.php
[code]

Tks

[2020-11-03 17:07] MichaelGatuma commented on #7
@dukenst2006 the issue has been resolved. It works fine now. Thanks a lot @jantinnerezo for looking into that! I will now close the issue from my side.

[2020-11-03 17:07] #7 closed

[2020-11-04 04:02] jantinnerezo commented on #9
Hi @mafalda2007, it's not possible for now but that's actually a great idea!

[2020-11-04 13:44] mafalda2007 commented on #9
Meanwhile solve it this way. ;-)

**view/livewire/users/user.blade.php**
[code]
**App\Http\Livewire\Users;**
Add
``` protected $listeners = ['deleteUser' => 'delete']; ```
[code]

[2020-11-11 23:13] lucasantoniooficial opened #10 "Erro method flash"
Error: BadMethodCallException
Method App\Http\Livewire\Admin\User\Edit::flash does not exist.
http://coaching.test/livewire/message/admin.user.edit
Hide solutions
Bad Method Call

Did you mean App\Http\Livewire\Admin\User\Edit::fill() ?

LiveWire: 2.x
Laravel 8

`public function update()
    {
        $this->user->update($this->validate());

        if(count($this->user->roles) > 0) {

[2020-11-12 03:09] #9 closed

[2020-11-12 03:12] jantinnerezo commented on #10
Hi @lucasantoniooficial, tested on Livewire 2.0 and Laravel 8, did you update the package to 2.0.1?

[2020-11-12 12:26] lucasantoniooficial commented on #10
"jantinnerezo/livewire-alert": "^2.0",

[2020-11-12 12:30] lucasantoniooficial commented on #10
I did the update and it's working!

[2020-11-12 12:31] #10 closed

[2020-11-20 13:11] moneya opened #12 "Alert not showing in version 2.0"
i recently updated livewire alert from version 1.x to 2.X,
@livewireAlertScripts was switched to <x-livewire-alert::scripts/>
And i removed the livewire alert  trait from my components cause it throws an error when using the trait.
`cannot use Jantinnerezo\LivewireAlert\LivewireAlert - it is not a trait `
to show notification i use the function
` $this->alert('success', 'Success Message');`
but no

[2020-11-20 15:30] jantinnerezo commented on #12
Hi @moneya,  it's so weird, did you try clearing up the views?

[2020-11-20 16:44] moneya commented on #12
![image](https://user-images.githubusercontent.com/7353773/99825242-10446900-2b57-11eb-9f20-623c3e480dd4.png)
This is my function

Below is the wire:click trigger for the function

![image](https://user-images.githubusercontent.com/7353773/99825890-ed668480-2b57-11eb-8610-de0814d6d749.png)

I have done that multiple times still the same issue.

[2020-11-20 17:20] jantinnerezo commented on #12
Thanks @moneya, what version is your livewire alert now in your composer.json?

[2020-11-20 17:30] moneya commented on #12
@jantinnerezo
 Livewire Alert 2.0.2

Livewire 2.3. 2

[2020-11-20 17:44] jantinnerezo commented on #12
Can you try uninstalling and re-installing livewire alert?

[2020-11-20 17:46] moneya commented on #12
@jantinnerezo  will do that as soon as I get home.
Thanks.

[2020-11-20 18:00] jantinnerezo commented on #12
Great! Thanks @moneya

[2020-11-20 22:40] moneya commented on #12
@jantinnerezo Still doesn't work,
Am starting a new install of laravel 8 and test again

[2020-11-21 00:02] moneya commented on #12
@jantinnerezo works good in laravel 8 and a fresh install of laravel 7.
maybe something is wrong with my project.
Will port to 8 and try again

[2020-11-21 12:31] jantinnerezo commented on #12
Good to know @moneya, did you put the component <x-livewire-alert::scripts/> after @livewireScripts?

[2020-11-24 17:16] moneya commented on #12
I did that after the livewire script.

The issue isn't from your package, it's from the app.

I tested in fresh install laravel 7 and 8
Everything is good.

Sorry to bother you chief.

Am closing this issue now.

[2020-11-24 17:16] #12 closed

[2020-11-27 13:00] matsava opened #13 "Support multiple alerts on same page"
Currently when you have multiple alerts no matter which one you click it always fire the last onConfirmed method in your view. Any plans on supporting this?

[2020-11-30 15:41] jantinnerezo commented on #13
Yeah planning to have support for this on the next release.

[2020-12-06 06:02] miladevs opened #14 "Call to undefined method alert"
Hi,

I have installed the package, however I'm encountering a call to undefined method error.  The same happens with the flash method.

My IDE does autocomplete the package classes, so it's definitely installed correctly.

`Call to undefined method App\Actions\Story\CreateNewStory::alert()`

I'm using this in `$this->alert('success', 'Story submitted for approval.');`

Any suggestions? :)

I have

[2020-12-06 08:51] jantinnerezo commented on #14
Hi @miladevs, you can only call it inside a livewire component class.

My suggestion is call the function after the execution of CreateNewStory action inside your livewire component.

[2020-12-07 23:17] imagina opened #15 "how to send the callback function"
hey, i need to send the callback function in to the options, but, i'm not sure how it should be, this is possible from livewire component class ? can you help me with some example ? please
and thanks.

[2020-12-08 09:01] jantinnerezo commented on #15
Hi @imagina, what do you mean adding a callback function in to the options? Can you show me a code snippet?

[2020-12-09 14:57] imagina commented on #15
Hi @jantinnerezo, i specifically need to do something with the event click of the confirmation button and with the cancel button, now I have simply sent configuration parameters like the documentation https://github.com/jantinnerezo/livewire-alert#configuration, is there any way to configure which event to trigger when they are clicked ?,

[2020-12-10 07:31] jantinnerezo commented on #15
Hello @imagina, you can do it like this:

`<x-livewire-alert::confirm onConfirmed="onConfirmedAction" onCancelled="onCancelledCallBack" />`

[2020-12-10 13:24] DrOreo002 opened #16 "PHP 8"
Can I install this project on laravel 8 with PHP 8?

[2020-12-10 13:49] jantinnerezo commented on #16
Planning to add support for PHP 8 in the next release.

[2020-12-14 13:12] ShekhSaifuddin007 opened #17 "How to delete record"
In my blade, I include this line `<x-livewire-alert::confirm onConfirmed="onConfirmedAction" nCancelled="onCancelledCallBack"/>`

now what will be the code for delete.?

If anybody gives some demo then it will be very helpful.

how can I pass the `$id` inside `onConfirmedAction`

### In blade

[code]

### Inside component

[code]

[2020-12-14 14:07] jantinnerezo commented on #17
Hi @ShekhSaifuddin007, take a look at this edited code. You can declare a $customer public property and assign it when you attempt destroy, reset it when click cancel.

[code]

[2020-12-14 14:34] ShekhSaifuddin007 commented on #17
@jantinnerezo yes it works, thank you brother...

[2020-12-14 14:34] #17 closed

[2020-12-15 17:24] LordEliseus commented on #17
Livewire sweet alert don't working for me .. i'm using stack TALL

[2020-12-15 19:25] ShekhSaifuddin007 commented on #17
@LordEliseus make sure you add this line `<x-livewire-alert::confirm onConfirmed="onConfirmedAction" nCancelled="onCancelledCallBack"/>` in your livewire components

[2020-12-15 20:22] LordEliseus commented on #17
Yes..I found my error.. it's a root tag error..in livewire component.
Thanks..

[2020-12-16 05:18] #15 closed

[2020-12-16 05:18] #14 closed

[2020-12-27 08:24] jantinnerezo commented on #13
Already added a support for it in [2.1 release](https://github.com/jantinnerezo/livewire-alert/releases/tag/2.1)

[2020-12-27 08:24] jantinnerezo commented on #16
Already added a support for it in 2.1 release

[2020-12-27 17:15] DrOreo002 commented on #16
Thank you! appreciate it 👍

[2020-12-27 17:15] #16 closed

[2020-12-30 09:40] #13 closed

[2021-01-02 13:23] nam-co opened #22 "Butons language"
Hi, thanks for the work on this package, looks great, I was wondering if its possible to change the language and text of the buttons?
Thanks for the help

[2021-01-04 04:11] jantinnerezo commented on #22
Hi @nam-co, I think you use [laravel localization](https://laravel.com/docs/8.x/localization) for that.

[2021-01-04 06:56] jantinnerezo commented on #22
[code]

[2021-01-04 13:01] nam-co commented on #22
Thanks Jantinn, excellent.
I was wondering is there any way to use this package outside livewire, in a regular controller?

[2021-01-04 13:11] jantinnerezo commented on #22
I'm afraid to say that this package is only a SweetAlert2 wrapper for livewire components @nam-co

[2021-01-04 13:18] nam-co commented on #22
Thanks for the fast response, it could be great for v2, a wrapper to work on controllers, this way you can use it everywhere with the same include js/css, no need for another package (just an idea).

Once again, thanks for you help J

[2021-01-04 13:37] #22 closed

[2021-01-05 07:44] moneya opened #23 "Unable to install livewire alert"
I am trying to install livewire alert in laravel 8.20.1 but i came across this error
![image](https://user-images.githubusercontent.com/7353773/103619311-c8747800-4f31-11eb-880c-2c413efa4235.png)

[2021-01-05 08:02] jantinnerezo commented on #23
Hi @moneya can you try installing on dev-master? Let me know if this works so that I can draft a release for it.

[code]

Thank you for submitting the issue.

[2021-01-05 08:07] moneya commented on #23
Ok, let me try that

[2021-01-05 08:11] moneya commented on #23
Installed with no issue but i saw this exception
![image](https://user-images.githubusercontent.com/7353773/103621635-cca29480-4f35-11eb-9f0d-a523a99d6865.png)

[2021-01-05 08:17] moneya commented on #23
The first issue , creating an empty class seems to fix the error show on install

Take a look at this.
https://github.com/jantinnerezo/livewire-alert/compare/master...moneya:master

[2021-01-05 08:20] jantinnerezo commented on #23
Yeah it did fix the issue, I recently deleted the class but you just encountered this issue now. Let me merge that.

[2021-01-05 08:21] jantinnerezo commented on #23
Can you create a pull request?

[2021-01-05 08:51] moneya commented on #23
Right away

[2021-01-05 08:53] moneya commented on #23
seems you did already.
Issue fixed.

[2021-01-05 08:53] #23 closed

[2021-01-07 18:30] tahirafridi opened #24 "Bootstrap 5 Modal issues"
I've problems, when I show modal and someone click the delete button, there I'm showing sweetalert confirmation dialogue. It asks for confirmation or cancel, no matter which button you click, then it show the disabled dark screen and nothing else.
is there any work around or it is the bug? why my bootstrap modal closed but not properly with this alert dialog?

![image](https://user-images.githubus

[2021-01-07 18:46] jantinnerezo commented on #24
I see the parent of the confirmation dialog is a bootstrap 5 modal, I haven't tried it yet with css libraries that has built-in components like modals. This is more likely an issue with SweetAlert2 library itself but can you try adding ``tabindex="-1"`` to your bootstrap modal?

[2021-01-07 18:48] tahirafridi commented on #24
tabindex="-1" already there, but someone where I read that if I remove it, it will resolve the issue, but no luck so far.

[2021-01-07 18:57] jantinnerezo commented on #24
So weird, did you provide callbacks for ``onConfirmed`` and ``onCancelled`` and register the callbacks as event listeners in your livewire component?

[2021-01-07 19:02] tahirafridi commented on #24
Yes all done as in your document, everything works perfectly, except, if I click the ok/cancel button after the alert confirmation it just show me the dulled screen with slightly grey overlay colour. and none of the html elements active, I have to refresh the whole page to see the or click the html elements.

[2021-01-07 19:06] jantinnerezo commented on #24
Did the parent modal closed first when you hit the delete and shows the confirmation dialog? or just right after you finally click yes or no?

[2021-01-07 19:11] tahirafridi commented on #24
No I'm not closing the main modal, because in my main modal there is table and list of collections, there is 'edit' and 'delete' buttons in the modal inside html table. So if someone click delete button, I'm showing them sweetalert dialogue , he/she click delete or cancel, it should say thank you and close the sweetalert but I don't want to close the main modal, because its not a good user experie

[2021-01-07 19:13] tahirafridi commented on #24
Right now sweetalert is trying to close the modal, but it doesn't close properly and it leave something behind, thats why the screen still keep disabled.

[2021-01-07 19:20] jantinnerezo commented on #24
Yeah agree with that, since you trigger opening the modal with Javascript not with Livewire public states, did you try adding ``wire:ignore`` this might be [dom sniffing issues](https://laravel-livewire.com/docs/2.x/troubleshooting) but I might be wrong with that, you can check if there's any log errors on dev console when you hit confirm or cancel.

[2021-01-07 19:34] tahirafridi commented on #24
Yeah thanks for the hints, yes it works but with 'wire:ignore.self' with .self it showing me the main modal as empty table no records there. But if i put .self with ignore it working perfectly. Thanks!

[2021-01-08 04:32] jantinnerezo commented on #24
Glad you make it work and found a workaround, let me know if you still have some issue and feel free to close the issue if everything works now. Thank you @tahirafridi

[2021-01-08 04:32] #24 closed

[2021-01-20 17:02] Jabirr commented on #1
@jantinnerezo Any update on this?

[2021-01-20 17:05] Jabirr opened #25 "Alerts not shown on redirect."
Hey great package.

It looks really good, i was just wondering when you will add support for showing alerts on redirect.
Livewire is supporting this feature and I was wondering if you could maybe look into that and use it for your alerts.

![image](https://user-images.githubusercontent.com/31471200/105209428-1b614880-5b4a-11eb-8ea2-ba221103b665.png)

Kind regards,
Jabir

[2021-01-21 00:54] jantinnerezo commented on #25
Hello @Jabirr, it's already supported and the method is `flash` you can then call it like this one:

[code]

[2021-01-21 03:03] jantinnerezo commented on #1
Hi @Jabirr , there is a new feature `flash` method for handling redirect messages.

[2021-01-21 09:34] Jabirr commented on #25
Thank you a lot @jantinnerezo, maybe you could add this in the docs?

[2021-01-21 09:34] #25 closed

[2021-01-21 12:47] jantinnerezo commented on #25
Yes you can play around with the config on the docs, it'll generate the code for you.

[2021-01-24 18:12] pirmax commented on #25
I've an error with flash message.

[code]

The flash message not working, I've not the flash message...

[2021-01-25 04:24] jantinnerezo commented on #25
Hey @pirmax,  did you include the sweetalert2 script?

[2021-01-25 08:13] pirmax commented on #25
Yes, the `$this->alert` works but not for `$this->flash`...

[2021-01-25 08:41] jantinnerezo commented on #25
Oh I see, currently have no idea to make it work without the defer attribute because it's inline script specially the script for flash, I'll take a look on this and experiment this weekend.

[2021-01-29 16:52] ettiennelouw opened #26 "Alert does not exist when running Unittests"
The alert works 100% when using from browser but as soon as I run my unit tests 'php artisan test' every components thrown an error, as soon as i take out $this->alert part all tests pass.

[code]

[code]

[code]

[2021-01-29 17:49] jantinnerezo commented on #26
Weird, It's not showing me a BadMethodCallException here:
https://github.com/jantinnerezo/livewire-alert-demo

[2021-01-29 18:18] ettiennelouw commented on #26
Awsome, let me try debug a bit more and see what is going on if im still stuck ill reopen the issue, Thanks

[2021-01-29 18:18] #26 closed

[2021-02-02 17:47] imagina opened #27 "Unexpected token '?' on Safari"
We have the follow js error on Safari browser:

SyntaxError: Unexpected token '?'

![image](https://user-images.githubusercontent.com/758247/106640930-a3851c00-6554-11eb-838d-23f78792c677.png)
However, in Chrome doesn't apper,
Thanks.

[2021-02-03 10:03] jantinnerezo commented on #27
What is your current safari version?

[2021-02-03 22:01] imagina commented on #27
Versión 13.0.1 (14608.2.11.1.11)

[2021-02-20 19:06] youngtype opened #28 "Flash issue"
![image](https://user-images.githubusercontent.com/79363260/108605901-9d4dc700-73bf-11eb-874e-919102da8d1f.png)

Please help me with that error

[2021-02-20 19:18] youngtype commented on #28
If delete this string `$options = array_merge(config('livewire-alert.alert'), $options);` it will works but without options, so how to fix that issue 🤣 ?)

[2021-02-20 21:00] jantinnerezo commented on #27
Hi @imagina, it seems that your version of safari doesn't support **null coalescing operator**. Let me try some fallback for this, sorry for the very late reply been busy this past few days.

[2021-02-24 19:52] jantinnerezo commented on #28
Nice! @youngtype, should have a fix on the next release. Thank you @youngtype

[2021-03-09 12:03] adistoica commented on #28
@jantinnerezo I'm having the same issue as @youngtype. Would you be kind to provide a fix? :)

[2021-03-09 20:21] jantinnerezo commented on #28
Fixed on [2.1.5 release](https://github.com/jantinnerezo/livewire-alert/releases/tag/2.1.5)

Apologies for the late response

[2021-03-11 11:13] IP-Developer commented on #27
I can confirm that this is a common issue (based on our production errors tracking)

[2021-03-18 18:31] salvomil commented on #28
Hi, I got error on confirm alert:

![error_livewire_alert](https://user-images.githubusercontent.com/16554089/111678014-1c4be900-8820-11eb-979b-625ddc91683c.png)

My Code:
`
protected $listeners = ['cancelled', 'createNewProduct'];
...
...
...

public function triggerConfirm() {
        $confirmCreate = $this->confirm([
            'title' => 'Attenzione',
            'text' => "Un prodotto con qu

[2021-03-18 22:19] jantinnerezo commented on #28
Hello there @salvomil, you are missing the first argument of the method `$this->confirm`.

It should be like this:

[code]

Let me know if that works, thanks for reporting an issue @salvomil !

[2021-03-24 20:26] ageurtse opened #30 "default setting"
Hello,

i published the config so i can edit it.
But it doesn't make use off the default configuration.

why is only alert working to configure things and are success and confirm ignored.
when using success or ignored it uses the style of alert.

[code]

[2021-04-22 11:03] alighasemzadeh commented on #17
@jantinnerezo
I think it would good idea to add this into document.

[2021-04-23 19:52] lucaciotti opened #31 "Maybe I miss something..."
Hi,
I would very much like to use this package.
I am developing a webapp with laravel and adminlte.

I wanted to integrate your package ... but I can't show this test ...

I imported everything correctly ... sweetalert2 works well outside the livewire component...

---- livewire extended class
`
  class MailSendTest extends Component {
      protected $listeners = [
      'confirmed',
      'cance

[2021-04-24 15:13] jantinnerezo commented on #31
Hmm how did you import `<x-livewire-alert::scripts />` and sweetalert2 scripts?

Thank you opening up an issue by the way @lucaciotti

[2021-05-01 17:22] lucaciotti commented on #31
Oops...
I was missing just that...

Thank you @jantinnerezo

You can delete this post if you think so...cause is not really an issue

[2021-05-01 17:22] #31 closed

[2021-05-05 15:27] GustaveTsopmo opened #34 "Unable to locate a class or view for component [livewire-alert::scripts]."
I have this issue in production environment. Please how to solve this??

[2021-05-08 18:48] zhi8617 opened #35 "Is it possible to call the flash method in the controller?"
Sometimes it's not always necessary to be in Livewire component,  just need redirects and flash messages.
I've found that the code can probably be placed inside the session, is there a cleaner way?

English is not my native language, please forgive my poor grammar.
Thank you for making this beautiful package!

[2021-05-11 11:56] ddjikic opened #36 "is it possible to send custom parameter with the confirm ?"
Hi, is it possible to send a parameter when the user click confirm

[code]

and then get in like

[code]

[2021-05-12 04:33] jantinnerezo commented on #34
Hello @GustaveTsopmo, can you try `php artisan view:clear`

[2021-05-12 04:36] jantinnerezo commented on #35
I'm afraid to say this but this package is specifically for livewire components only @zhi8617

[2021-05-14 06:23] #35 closed

[2021-05-14 06:28] jantinnerezo commented on #36
Hi @ddjikic, yep it is possible with `inputAttributes`.

[code]

[2021-05-14 07:36] ddjikic commented on #36
thank you

[2021-05-14 07:36] #36 closed

[2021-05-14 20:39] dukenst2006 opened #37 "Documentation Down"
Hi  @jantinnerezo  Please check the documentation link, it is down.
Thanks

[2021-05-15 10:28] jantinnerezo commented on #37
Hey @dukenst2006 , should be up now. Thanks!

[2021-05-15 10:28] #37 closed

[2021-05-15 10:50] dukenst2006 opened #38 "Unable to resolve dependency [Parameter #0 [ <required> $id ]]"
I get this error When trying to get the ID parametter to delete a post
`Unable to resolve dependency [Parameter #0 [ <required> $id ]]`
[code]
[code]
Any idea how i can get the ID parameter to be able to delete the post when user confirmed ?

[2021-05-15 16:40] #28 closed

[2021-05-15 16:44] jantinnerezo commented on #38
Hey @dukenst2006, please update to 2.1.6. Thank you!

[2021-05-15 18:15] dukenst2006 commented on #38
Hi @jantinnerezo update to 2.1.6 and still have the same issue, even if i clear cache etc ...

[2021-05-15 18:43] jantinnerezo commented on #38
Did you try `php artisan view:clear` ?

[2021-05-21 16:32] lilouch opened #39 "Custom HTML alert and inputs ?"
Hi,

I would like to know if there is a way to do a custom HTML alert and an alert with an input ?

Thank you

[2021-05-26 14:18] #38 closed

[2021-05-31 17:53] #34 closed

[2021-06-17 22:46] dev-techguy opened #41 "Not working after upgrade."
![image](https://user-images.githubusercontent.com/36882600/122481199-efea6900-cfd6-11eb-813a-19abe2cfca0f.png)

[2021-06-18 05:50] dev-techguy commented on #41
Need help, kindly

[2021-06-18 11:43] hamza-topo opened #42 "Passing method parametres to alert error"
hi folks !

-----------------------
i have a laravel 8 project ; and im using your wrapper (livewire-alert) to show sweet alert .
and it's works as expected for info,success types .

what im trying to do now is to add an undo action to this sweet alert so i can be able to restore the action of delete ( restore user from trash for example ) via event listener .

to do that i need to add a parametre

[2021-07-02 15:03] nam-co commented on #35
Hi @zhi8617 , probably you can do something like this:

Controller
[code]

In Component
[code]

What do you think @jantinnerezo ?

[2021-07-02 15:44] nam-co commented on #35
@zhi8617 it seems you can also just do this:

in Controller
[code]

But is not a toast

[2021-07-05 07:04] milanchheda opened #43 "Is it possible to have default parameters auto-applied?"
Hey,

First of all, thanks for the amazing package.

Is it possible to auto-apply the default configurations from the `livewire-alert.php` config file? In the sense, in my livewire component, we have write the below for the alert:

[code]

Can we instead have something like this:
[code]

and it auto-applies default configurations for `alert` from the config file?

[2021-07-09 22:22] jantinnerezo commented on #41
Hello @dev-techguy, how did you set it up? Sorry for the very late response.

[2021-07-09 22:27] jantinnerezo commented on #43
Hello @milanchheda,  did you try clearing config?
[code]

[2021-07-12 06:53] milanchheda commented on #43
Perfect! That work. Thanks @jantinnerezo! 👍🏼

[2021-07-12 06:53] #43 closed

[2021-07-15 03:36] abdasis opened #44 "Can't access documentation"
Hai bro, i wan't setup to a new project, but i can't access the documentation

thanks

[2021-07-24 17:07] jantinnerezo commented on #44
Hey bro, sorry for the late response. It's actually already live since a week now.

[2021-07-24 17:14] #44 closed

[2021-07-24 17:19] #41 closed

[2021-08-08 02:21] pwncraft commented on #39
This package appears to just pass parameters right into the sweetalert2 plugin. Thus you can add the html parameter to the alert.

As an example:
[code]

[2021-08-30 17:15] thomasdominic opened #45 "How can we use your package in an other packages"
Hi,

I would like use your awesome package on my crud generator packages without composer install your packages> But i think it's not possible currently.

Did you do this yet ?

[2021-08-31 12:49] thomasdominic commented on #45
I think it's ok :)

[2021-08-31 12:49] #45 closed

[2021-09-13 11:15] Grimthorr commented on #27
Fixed in #40 (using dev-master#94a583dbd689a9a613349ec2dd8703081684aa3a).

[2021-09-13 16:42] jantinnerezo commented on #27
Hello guys, please update to [2.1.7](https://github.com/jantinnerezo/livewire-alert/releases/tag/2.1.7). Sorry it took time to publish the release.

[2021-09-19 19:13] #27 closed

[2021-09-22 12:59] lukebouch commented on #42
I'm trying to figure out have to do the same thing.

[2021-09-30 21:37] sxshateri opened #47 "change the Alert Confirmation icon to success"
is there a way to change the Alert Confirmation icon from a warning to success? when i pass the ```success``` as the second parameter to ```confirm``` same as ```alert``` get the error ```array_merge(): Expected parameter 2 to be an array, string given```. apparently, it doesn't accept the type of confirm icon same as ```alert```.

[2021-10-01 14:11] pcfjojo opened #48 "Possibility for Loading / Progress Alert"
Is there any possibility to make progress dialog?
Example : wait until finish a network call.

[2021-10-04 12:16] sxshateri commented on #25
any idea when this issue will be resolved and merged with the master branch?

[2021-10-04 17:40] jantinnerezo commented on #47
Hello @sxshateri, you can pass it directly to the options array.

[code]

[2021-10-05 20:08] sxshateri commented on #47
thanks a lot

[2021-10-13 18:52] reasecret opened #49 "How To Get Input Range Value?"
[code]

I'm trying to update a value with range input. I'm getting current value and seeing on modal. But I can't get updated range input data. How can I get it?

[2021-10-31 10:25] Fred7877 opened #50 "How to retrieve the value of a textarea?"
hello !
I have :
 $this->confirm('Envoyer un message à ' . $this->user->pseudo, [
                'toast' => false,
                'position' => 'center',
                'showConfirmButton' => true,
                'showCancelButton' => true,
                'onConfirmed' => 'confirmed',
                'onCancelled' => '',
                'input' => 'textarea',
            ]);
But, How to retri

[2021-10-31 11:49] jantinnerezo commented on #49
Hi @reasecret, getting the input value will be added on the next release tomorrow.

[2021-10-31 11:49] jantinnerezo commented on #50
Hi @Fred7877 , getting the input value will be added on the next release tomorrow.

[2021-10-31 18:18] jantinnerezo commented on #48
Hi @pcfjojo, yep should be possible with the next release.

[2021-10-31 18:21] jantinnerezo commented on #42
Hi @hamza-topo, should be documented on the next release, sorry for the very late reply.

[2021-10-31 18:23] #30 closed

[2021-10-31 18:49] Fred7877 commented on #50
Hi jantinnerezo, thanks for the answer and thanks for this plugin :)

[2021-11-08 19:14] nam-co opened #52 "Update 2.1.9 error"
Hi, I've been using Livewire-alert and it worked excellent, but I just updated to 2.1.9 and starting getting the error "Method App\Http\Livewire\XXXX\XXXX::alert does not exist", so I went to the readme and saw I need it to add this that I didn't have before:
[code]
I added them and now Im getting a
"Trait 'App\Http\Livewire\PageMaker\LivewireAlert' not found"

Appreciate any help
Regards
Michael

[2021-11-08 22:19] anthony-brindley commented on #52
Hi Michael, I was getting the same issue. If you look at your code, you need to use use Jantinnerezo\LivewireAlert\LivewireAlert; and then include the trait inside the class. There is no 'WithAlert' include that I can see. I've just done this and the alerts work fine.

e.g

[code]

[2021-11-09 01:48] nam-co commented on #52
Hi @anthony-brindley , your solution works, everything is ok now, thanks a lot

[2021-11-09 02:05] nam-co commented on #52
Hi @jantinnerezo I just notice the "$this->confirm" shows up, but 'onConfirmed' it doesn't run the function, I. tried changing to ->alert but is the same, the 'onConfirmed' => 'confirmedClearAll' still doesn't work, the listener is in place

Appreciate any help
Regards
Michael

[2021-11-09 06:46] jantinnerezo commented on #52
Hi @nam-co, the `WithAlert` is a mistake, forgot to edit in the final draft of README.md when released.

About your concern of the confirm function doesn't run, you need to register the function first to event listeners.

[code]

[2021-11-09 09:36] Wit3 opened #54 "2.2.0 break inputAttribute on confirm"
Hi, with latest release the inputAttribute doesn't work anymore, i try to investigate on these days.

[2021-11-09 11:46] mchisnerman3 opened #55 "SweetAlert2: Unknown parameter "onConfirmed""
Hi, im from argentina, your componente is awesome, but i have this error:
SweetAlert2: Unknown parameter "onConfirmed"

Can you help me please?

Thanks!!

[2021-11-09 12:11] jantinnerezo commented on #55
This is already fixed: [`2.2.1`](https://github.com/jantinnerezo/livewire-alert/releases/tag/2.2.1)

[2021-11-09 12:11] jantinnerezo commented on #54
This is already fixed: [`2.2.1`](https://github.com/jantinnerezo/livewire-alert/releases/tag/2.2.1)

[2021-11-09 12:12] #52 closed

[2021-11-09 12:39] mchisnerman3 commented on #55
Yes, work fine now!!!
Another question (if it possible)
Can i put a summernote textarea in this alert?
![imagen](https://user-images.githubusercontent.com/21108629/140925691-6b6604ca-a54f-42df-a1dd-bf5e901be052.png)

Replace this with summernote

[2021-11-09 12:57] jantinnerezo commented on #55
Unfortunately not yet possible as of now but yep this might be possible in the future. Thanks for the idea!
Closing this now @mchisnerman3.

[2021-11-09 12:57] #55 closed

[2021-11-09 12:59] jantinnerezo commented on #50
Hi @Fred7877, did you already update to 2.2.1?

You can already get the value of the alert input and it's also documented.

[2021-11-10 13:22] Fred7877 commented on #50
Hello @jantinnerezo !
Yes, i have update to 2.2.1 at the moment and it's work very well :)
The Trait it's really convenient.

Congratulations on the work done.

Thanks !!

[2021-11-11 09:56] rudolfbruder opened #57 "$this->alert suddenly not working"
Hello,

Maybe you could give me a quick tip but suddenly this package stopped working, maybe after update (no major version updated right?).

What fixed it is including the:

    use LivewireAlert;

I believe this was not required before and crashed our app. Am i doing something wrong that it worked before?

Thank you!

[2021-11-11 09:58] jabxr commented on #57
Hi, I was also trying to downgrade but I don't know what version would be correct. This also broke our app on production.

[2021-11-11 11:45] jantinnerezo commented on #57
Hello @rudolfbruder, I move the alert codes to a trait on purpose.

You can check the release notes on breaking changes: [2.1.9](https://github.com/jantinnerezo/livewire-alert/releases/tag/2.1.9])

[2021-11-11 11:47] jantinnerezo commented on #57
Hello @jabxr, the version that automatically registers the alert methods is [2.1.8](https://github.com/jantinnerezo/livewire-alert/tree/2.1.8)

You can check the release notes on breaking changes: [2.1.9](https://github.com/jantinnerezo/livewire-alert/releases/tag/2.1.9])

[2021-11-11 13:01] jantinnerezo commented on #50
You're welcome @Fred7877

[2021-11-11 13:01] #50 closed

[2021-11-11 13:07] #39 closed

[2021-11-13 15:51] jantinnerezo commented on #57
Closing this one, Thank you

[2021-11-13 15:51] #57 closed

[2021-11-13 15:52] #49 closed

[2021-11-13 15:52] #42 closed

[2021-11-14 08:54] hsiraaj opened #58 "Make background and text color different for each type"
Currently the notify container is having pre-defind white color background. Can we have different color for different type such as success (green) error (red) info (blue) etc..

[2021-11-14 10:04] Fred7877 opened #59 "Error sweetAlert2"
Hello @jantinnerezo !

I get a sweetAlert2 error in the javascript console when I use alert() or confirm():

sweetalert2@10:1 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'then')
at i.value (sweetalert2@10:1)

I have tested with sweetalert2@11, same thing.

I don't know if you can do anything or if you know about this mistake...

Regards,

[2021-11-14 11:50] jantinnerezo commented on #59
Hi @Fred7877, can you show me how you import sweetalert2 and livewire alert scripts?

[2021-11-14 11:51] jantinnerezo commented on #58
Hi @hsiraaj

Did you try adding your own custom CSS classes?

https://github.com/jantinnerezo/livewire-alert#customizations

[2021-11-14 15:21] Fred7877 commented on #59
@extends('layouts.admin')

@section('content_header')
    <h1>Utilisateurs</h1>
@stop

@section('content_admin')
    {{$dataTable->table()}}
@stop

@push('js')

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <x-livewire-alert::scripts />

    <script src="{{ asset('vendor/livewire-alert/livewire-alert.js') }}"></script>
    <x-livewire-alert::flash />

    {{$dataTable

[2021-11-14 15:27] jantinnerezo commented on #59
You can just either import
`<x-livewire-alert::scripts />`
 or
`<script src="{{ asset('vendor/livewire-alert/livewire-alert.js') }}"></script>`

because you are importing the script twice.

You can check the demo repo:
https://github.com/jantinnerezo/livewire-alert-demo/blob/main/resources/views/layouts/master.blade.php

[2021-11-14 15:28] jantinnerezo commented on #59
When using `<x-livewire-alert::scripts />`, you don't need to include the `<x-livewire-alert::flash />` anymore.

[2021-11-14 18:11] Fred7877 commented on #59
Thanks ! it's clear the error message, but i don't get the flash message after redirection 😕

Here the method in Livewire component
[code]
And here, the import in bade template
[code]

Regards,

[2021-11-14 19:08] jantinnerezo commented on #59
Great! closing it now. Thanks!

[2021-11-14 19:08] #59 closed

[2021-11-19 09:06] stephen-morlex opened #60 "Livewire sweetalert throws BadMethodCallException"
### It was working before now i throws error
BadMethodCallException
Method App\Http\Livewire\Department\Index::confirm does not exist.

**App Blade **
` @livewireScripts

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <x-livewire-alert::scripts />`
**Code in Department component to delete a department**
`  // Delete confirm method
    public function confirmed()
    {

[2021-11-19 09:11] jantinnerezo commented on #60
In the latest version I removed alert macros for Livewire component so it would not register the methods automatically and on every livewire components that are not using alert.

You can use the new trait instead.

[code]

[2021-11-19 09:46] stephen-morlex commented on #60
Great thanks @jantinnerezo  is working now.

[2021-11-19 09:46] #60 closed

[2021-11-20 07:40] Fred7877 opened #61 "Livewire component in a loop"
Hi !
I have a problem when a component is in a loop and 'confirmed' is called by a component because in this case, all the components that listen to 'confirmed' execute the method.

Is there a way to prevent all 'confirmed' methods from being executed?

Regards,

[2021-11-20 14:27] jantinnerezo commented on #61
Hi @Fred7877

You can actually choose whatever method name you want for the `onConfirmed` event other than `confirmed`

The good news is in the next `2.2.2` release it should just listen to own events by default and if you want to target specific livewire component only you can do this for performance purposes:

[code]

[2021-11-20 16:14] Fred7877 commented on #61
Yes, I know we can change the confirmed name to something else, the problem is that no matter what the name of the method is, all the components listen to this method and it is therefore triggered by all the components at the same time, if for example, we want to delete an item in a list, all the items will be deleted since the method will be executed by all the components, this is annoying ;)

Ve

[2021-11-20 16:14] #61 closed

[2021-11-20 18:56] #58 closed

[2021-11-20 18:56] jantinnerezo commented on #54
Closing this one, Thanks!

[2021-11-20 18:56] #54 closed

[2021-11-20 18:56] #48 closed

[2021-11-21 12:45] Fred7877 opened #63 "Bug OnConfirmed v2.2.2"
Hi @jantinnerezo !
I have update livewire-alert on 2.2.2 version and i get 2 errors.

The context :
I have a list of elements in a table, and each element can be deleted with a button which is a livewire component.
When this button is clicked, a $emitSelf('remove') event is fired.

I have the implemented the remove method like that :

[code]
And I had this error in the chrome console :

**Uncaught

[2021-11-21 12:58] jantinnerezo commented on #63
Hi @Fred7877

You don't need to set `component` to self anymore since it'll get the ID by default. You only set it when you want to emit the event to specific component.

For the flash issue I'll look into today.

[2021-11-21 16:22] Fred7877 commented on #63
ah yes ! of course !!! No need to set component to self !!! This is why getEventProperties() return the id and component => 'self' !

Thanks !

I'll leave the issue open for the flash issue if want answer it?

[2021-11-22 00:06] jantinnerezo commented on #63
Fixed on hotfix release [2.2.3](https://github.com/jantinnerezo/livewire-alert/releases/tag/2.2.3)

Thank you for reporting the issue @Fred7877

[2021-11-24 09:28] Ticket-Master opened #65 "how to add custom tailwindcss styling to the alerts"
hi,

i tried to use tailwindcss classes in the customClass but it is not being used.

is there any way to achieve it ?

[2021-11-24 10:41] #63 closed

[2021-11-24 10:45] jantinnerezo commented on #65
Hi @Ticket-Master,

Can you show me a snippet of how you did it?

Make sure to also set `buttonStyling` to `false`.

Also, is `JIT` mode is enabled in your `tailwind.config.js`?

[2021-11-26 07:48] thetwopct commented on #65
For me it was adding

`'toast' => false,`

then custom CSS worked

[2021-12-01 20:51] vlados opened #66 "Breaking changes should be a new major version"
In version 2.1.9 was introduced a new breaking change where we should add trait LivewireAlert to every component using the alert function.
Please in the future warn everybody for such a changes!

[2021-12-01 21:50] jantinnerezo commented on #66
Apologies for that @vlados, it was a mistake during the release, should be a major version.

[2021-12-02 07:55] vlados commented on #66
Also and confirm function and the config was changed ... Please dont do this

[2021-12-02 07:55] #66 closed

[2022-01-07 01:44] samhaiden opened #67 "Disable 'bounce' effect?"
Is there a way to disable the bounce effect when the alert pops up? I'd prefer a simple slide or fade in.. any insight would be much appreciated.

[2022-01-14 02:08] rahmanramsi opened #68 "Input value doesnt get passed to listener"
Code
[code]

Data that retrieved to confirmed callback
![image](https://user-images.githubusercontent.com/48276043/149439206-bbf2bcab-ff5c-486a-9ad9-935f45a40ff7.png)

[2022-01-14 13:44] johnsonsebire commented on #60
I'm doing this but it keeps throwing an error "... cannot use Jantinnerezo\LivewireAlert\LivewireAlert - it is not a trait in file ..." in Laravel 8

What could be wrong?

use Jantinnerezo\LivewireAlert\LivewireAlert;

class Index extends Component
{
    use LivewireAlert;
}

[2022-01-14 15:11] Xyntax01 commented on #68
You can try this:
https://github.com/jantinnerezo/livewire-alert/issues/36#issuecomment-841040439

[2022-01-19 13:24] jantinnerezo commented on #67
Hi @samhaiden

You can customize the transition effect by adding your own class to the configuration.

For show:
[code]

For hide:
[code]

Sorry for the late reply.

[2022-01-19 13:24] #65 closed

[2022-01-19 14:26] jantinnerezo commented on #68
Hello @rahmanramsi,

`input` property value should be the input type, see SweetAlert2 docs: https://sweetalert2.github.io/#input-types

[2022-01-21 00:54] rahmanramsi commented on #68
thanks @Xyntax01  and @jantinnerezo , it work now

[2022-01-21 00:54] #68 closed

[2022-01-28 04:33] abhiburk commented on #48
Any update on this feature?

[2022-01-31 11:18] #67 closed

[2022-02-07 05:18] xihad76 opened #72 "How to handle validation errors with Livewire Alert"
Livewire alert works perfectly as described. But in case of showing validation errors I couldn't think of any way except using a custom validator. Currently, if the validation fails on `$this->validate()`, the alert doesn't fire on the client-side by default. What would be the best approach with livewire alert for showing validation errors?

[2022-02-10 12:54] wbetalleluzd opened #73 "Support Laravel 9"
$ composer require jantinnerezo/livewire-alert
Using version ^2.2 for jantinnerezo/livewire-alert
./composer.json has been updated
Running composer update jantinnerezo/livewire-alert
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Root composer.json requires jantinnerezo/livew

[2022-02-11 07:55] jantinnerezo commented on #73
Hello @wbetalleluzd

Please upgrade to 2.2.4 latest release

[2022-02-11 14:04] wbetalleluzd commented on #73
Thank you...!!!!

[2022-02-11 14:45] jantinnerezo commented on #73
You're welcome @wbetalleluzd !

[2022-02-11 14:45] #73 closed

[2022-02-13 20:08] abbasgholia commented on #72
hi
this was already done correctly in version 2.1.
unfortunately I did not have time to modify the new version
fix it if possible
  code for version 2.0:

`
<script>
    "use strict";

    window.addEventListener('alert', event => {
        var _event$detail$message, _event$detail$type;

        if((_event$detail$message = event.detail.message) !== null && _event$detail$message !== void 0){

[2022-02-17 09:01] stephen-morlex commented on #60
@johnsonsebire did you update the package version?

[2022-03-14 16:53] #72 closed

[2022-03-15 09:52] marispro opened #77 "Label bug on intro page"
Hello,

found small label bug
![Mar-15-2022 11-50-52](https://user-images.githubusercontent.com/5610414/158352003-441e041f-4d70-4135-a017-6d77ab69175e.gif)

and would be nice to include new feature there as well  https://github.com/jantinnerezo/livewire-alert/pull/75

[2022-03-15 13:32] Elsingad opened #78 "callbacks Key Allowed is not defined"
The new update breaks all the current alerts.

example:
`$this->alert('success', 'TEST');`

console:
`callbacks Key Allowed is not defined`

[2022-03-16 04:01] #78 closed

[2022-03-16 05:34] jantinnerezo commented on #77
Fixed already, Thanks @marispro!

[2022-03-16 05:34] #77 closed

[2022-04-14 13:59] mrl22 opened #82 "Passing data to confirmed method"
Hello

First of all, thank you for such an amazing package.

I am creating a confirm delete box and have found (although not documented) that I can put whatever I want in to 'inputAttributes' and get them back out in the confirmed method using $data['data']['inputAttributes'].

Is there a better way to do this, without setting any public variables?

My code:

[code]

[2022-04-15 14:11] jdjd1118 opened #83 "TypeError: Cannot read properties of undefined (reading 'component')"
See screenshot for error.  This error occurs after a user clicks OK on an error alert
`$this->alert('error', 'Error message', [ 'toast' => false, 'showConfirmationButton' => true ]);`

![image](https://user-images.githubusercontent.com/6722247/163579957-0631814c-2d81-4dd1-9526-05e2a935a1ac.png)

[2022-04-16 14:20] jantinnerezo commented on #82
Hello @mrl22

What do you mean without setting any public variables?

[2022-04-16 14:51] jantinnerezo commented on #83
Hello @jdjd1118

The error occurs when set `showConfirmButton` to `true` but you didn't set the event for the confirm button. I should add it to documentation, Thanks for submitting the issue.

[2022-04-16 20:43] mrl22 commented on #82
@jantinnerezo I am not the best at my wording. When I say public variables I mean when you put private or public $string; at the top of a class.

I am just trying to make sure I am passing variables the best way.

[2022-04-18 18:25] taufiqridha opened #84 "Any Ideas Using Confirmation with Date Picker ?"
Thanks for this lovely packages.

i'm trying to implement confirmation with datepicker. Did anyone has success ?
I tried using onOpen function on config array but seems like not working and not supported by this package. also using jquery on focus and target to my date picker class on input element with no success either.

Thanks if anyone wants to share...

[2022-04-18 19:06] taufiqridha commented on #84
Updated.
Sorry so sweet alert did not support onopen methods anymore, instead 'didOpen'. So this is my code looks like if anyone want to show datepicker inside and return the value

`$this->alert('question', 'Input Payment Date', [

                'toast' => false,
                'html' => '<input id="paymentdate" class="paymentdate">',
                'showConfirmButton' => true,

[2022-04-18 19:07] #84 closed

[2022-04-19 14:48] jdjd1118 commented on #83
@jantinnerezo Ah, I see.  That makes sense.  I set the event and no longer get that js error.  One more question for you, due to this change our tests no longer pass because of the event array in the payload.  Previously it was just an empty array but now it has the component ID in it.  Any ideas on how to test that the correct alert was called with the correct message?  Below is the assertion.

`

[2022-04-19 14:48] #83 closed

[2022-04-19 15:06] jdjd1118 commented on #83
@jantinnerezo Nevermind, I figured it out.  This is what I have now:
`$this->assertDispatchedBrowserEvent('alert', [
                'type'    => 'error',
                'message' => $message,
                'events'  => [
                    'onConfirmed' => [
                        'id'        => $this->id,
                        'component' => 'self',
                        'listener'  =>

[2022-05-09 08:12] hemantbhestabit opened #86 "route name will be much better on flash insted of url"
well when i intrigate it in my current project I can feel that add the static URL can be a issues if we change the URL

so it's better to add the route name instead of static URL '/'

[2022-05-09 08:53] hemantbhestabit commented on #86
well i don't think we need extra function because we can use route('admin.index') as URL

[2022-05-09 08:53] #86 closed

[2022-05-13 10:04] gopalwebdev opened #87 "$this->alert() is not working"
Hello, $this->alert() is working in powergrid table component. I've used LivewireAlert trait. But in normal livewire component, It's not working even though after imported trait. I'm using laetst release of livewire-alert. Help me to solve this issue.

[2022-05-13 11:23] jantinnerezo commented on #87
Hi @gopalwebdev, How did you set it up?

[2022-05-14 18:21] taufiqridha commented on #48
I'm also looking for this one

[2022-05-23 08:17] #87 closed

[2022-05-24 20:02] lokmanhakim opened #88 "Support for alert stacking"
Hi,
I'm trying to fire multiple alert in single API request to a third party, at the start and at the end and when there is an exception. It doesn't seem to stack and only show the latest request

[2022-05-27 20:13] alighasemzadeh opened #89 "How can I add dark mode?"
Hi
I try to add dark mode but always I get a white alert page can anyone help me?

[2022-05-29 11:43] jantinnerezo commented on #88
Hi @lokmanhakim

SweetAlert2 does not support alert stacking

[2022-05-29 11:46] jantinnerezo commented on #89
Hi @alighasemzadeh

Good question,

Well you just need to grab the dark theme CSS, when you are using CDN you can set it up like this:

[code]
Also please use this sweetalert2 script CDN
[code]

Please see official doc: https://github.com/sweetalert2/sweetalert2-themes

[2022-05-29 13:38] alighasemzadeh commented on #89
@jantinnerezo
I did it but I get a white alert.

[2022-05-29 14:42] jantinnerezo commented on #89
@alighasemzadeh

This is what I did
<img width="894" alt="image" src="https://user-images.githubusercontent.com/29738837/170875118-9b0b2a91-0574-4622-ae5d-b4c6a2225d5f.png">

Result
<img width="894" alt="image" src="https://user-images.githubusercontent.com/29738837/170875214-130c165b-e2dc-40e4-ac07-7782e3abde38.png">

[2022-05-30 04:39] alighasemzadeh commented on #89
How to use it in offline mode?
Build with SCSS and use offline without CDN.

[2022-05-30 14:27] jantinnerezo commented on #89
Install it using NPM and then import it into your main javascript file, it's in the sweetalert2 theme docs

[2022-06-08 18:40] yosleydy commented on #88
Hola buenas tardes, como puedo desinstalar ese paquete de mi proyecto?

[2022-06-09 09:57] lutfifirdaus commented on #82
Hello @jantinnerezo

what i get from @mrl22 is maybe there is a way that we can pass data inside `onConfirmed` event like livewire event `emit('someEvent', $model->id)` that can pass data.

Because i also have similiar problem that when i get no solution about this problem, i approach it by using public or protected variable to store data temporarely from wire:click that has alert() or confirm() s

[2022-06-09 10:16] mrl22 commented on #82
@lutfifirdaus If I have a table with a list of delete buttons for each record, I wanted to find if there was a feature to pass the record ID to the "confirmedDelete"  listener which will then call a function to delete that record.

I too have tried your way too but I was worried that let's say my client was somehow able to click two delete buttons at the same time which sets the public/protected v

[2022-06-09 14:19] lutfifirdaus commented on #82
@mrl22 i also has try that method too. What i has done to get solution from that is like i find inspiration and imitate how deleting github repository works, i usually choose unique field or something that not really hard to type it like example slug or username etc.

Basically you pass slug for user to see what input must be type then when you `onConfirmed` listener method, you query from slug or

[2022-06-09 15:06] jantinnerezo commented on #82
Hi @mrl22 @lutfifirdaus

It's not documented but not sure if you already did this but you can:

[code]

[2022-06-10 09:34] RichieMcMullen opened #90 "Programatically Close Alert"
Can we programatically close the alerts ?

[2022-06-22 07:24] #89 closed

[2022-06-29 19:58] mosesket opened #91 "Laravel 9 support"
when will the Laravel 9 support be available

[2022-06-30 02:41] jantinnerezo commented on #91
@mosesket It is already supported

[2022-07-05 08:06] dgillier commented on #91
Yes working fine with Laravel 9

[2022-07-05 08:13] dgillier opened #92 "Suggestion: $this->alert() returning Boolean ?"
Hi,
great component,

I'm wondering if it will be possible to return a boolean or even an button id, so it will be not needed to listen to events ?
This will make simpler for some basic function as

[code]
What do you think ?
Denis

[2022-07-06 06:25] jantinnerezo commented on #91
Great @dgillier, I'm closing this one Thanks!

[2022-07-06 06:25] #91 closed

[2022-07-27 18:55] RishabSwift commented on #25
Any status on this? Having the same issue. I am not able to put `defer` on my script tag.

[2022-08-01 04:49] septianinet opened #94 "Flash Notification not working properly"
I want to say thank you for creating this package, this package really helpful. But i found a problem when i want to use flash notification.
 The store function was working well no error, but the notification flash isn't working properly, only redirect and then no flash notif is showing. Any solution with my issue?
Here is my code :
`public function store()
    {
        Leave::create([

[2022-08-03 13:39] PhilBellwood opened #95 "Passing preConfirm"
Hi

Is there a way to pass preConfirm so that multiple inputs can be added to an alert.
I want to user to pit in an name and email on the alert window.

Maybe there is another way to have multiple inputs to pass values back?

Thank you for your help.

[2022-08-03 16:37] #82 closed

[2022-08-03 16:41] #88 closed

[2022-08-03 16:59] jantinnerezo commented on #92
Hi @dgillier

It's not possible because Livewire doesn't know if the alert is confirmed or canceled that's why Javascript needs to emit events. It's only possible I think if you display alerts with Javascript not using Livewire.

[2022-08-03 17:02] jantinnerezo commented on #94
Hi @septianinet

How did you set it up? also, is there any error in the console?

[2022-08-03 17:05] jantinnerezo commented on #95
Hi @PhilBellwood

Currently, there's no way you can pass `preConfirm` the create multiple inputs on alert. I did some digging and I think I can add this feature in future releases.

[2022-09-09 06:12] jazzy1986 opened #96 "pass parameter to alert to be use later when confirm"
is there way to pass parameter for example id to alert and to get it in confirmed function later?

[2022-09-18 08:24] #92 closed

[2022-09-23 07:23] gorimatyan opened #98 "<x-livewire-alert::scripts /> didn't work on Ubuntu 22.04"
This is my first issue so This may be a strange opinion.

I have deployed my application using livewire-alert on Ubuntu 22.04.
When I had developed on Windows10, <x-livewire-alert::scripts /> worked normally.
However, <x-livewire-alert::scripts /> didn't work on Ubuntu 22.04.
↓This is a error message

**Unable to locate a class or view for component [livewire-alert::scripts].**

I guess case-sensi

[2022-09-25 13:29] jantinnerezo commented on #98
Hi @gorimatyan

Did you already try ``composer dump-autoload`` or ``php artisan view:clear``?

[2022-09-25 16:36] gorimatyan commented on #98
I tried it but doesn't work.

I have tried a lot, as a result, livewire-aleart scripts could work when I used "asset('vendor/livewire-alert/livewire-alert.js')" instead of <x-livewire-alert::scripts /> . Thank you.

[2022-10-01 16:52] jcamilovallejos opened #99 "How can I show many alerts? Is it possibly ?"
I want to show several alerts in my window, Can I do it? Currently, I can show only one notification.

[2022-10-01 16:54] jcamilovallejos opened #100 "Is there Swal.close() ?"
I have searched, but I haven't found anything about it in the package related to Swal.close(). Thanks !

[2022-10-03 12:53] jantinnerezo commented on #99
Hi @jcamilovallejos

Do you mean stacking alerts?

[2022-10-04 19:39] jcamilovallejos commented on #99
Yes. Something like in this page https://jacekjeznach.com/portfolio/. You could look at the right bottom in this page, the notifications. I want to try it with sweet alert, but when I declare $this->alert(); $this->alert() only show me the second alert.

[2022-10-10 04:30] akbaraffaruk commented on #94
Have you found the solution? @septianinet @jantinnerezo

I have the same problem when I want to use flash notification. At first everything went well, but after a while it didn't work

[2022-10-12 06:27] jantinnerezo commented on #94
Hi @septianinet

Can you show me how did you set it up?

[2022-11-23 11:53] bucari opened #104 "Uncaught (in promise) ReferenceError: Swal is not defined"
I installed livewire-alert publishing livewire-alert.js and added

<script src="{{ asset('vendor/livewire-alert/livewire-alert.js') }}"></script>
<x-livewire-alert::flash />

to app.blade.php after  @livewireScripts but i get this error  Uncaught (in promise) ReferenceError: Swal is not defined

[2022-11-23 15:19] #104 closed

[2022-11-24 07:44] bucari opened #105 "Unknown parameter"
Hi, i need to remove <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> so i have installed SweetAlert2 with this command npm install sweetalert2

Before this change everything worked, but now i get this warnings in the browser console and so alerts don't display as they should

SweetAlert2: Unknown parameter "icon"
SweetAlert2: Unknown parameter "timerProgressBar"
SweetAlert2: Unknown

[2022-11-24 08:21] #105 closed

[2022-11-30 10:58] garbinmarcelo opened #106 "Load trait by default"
Hello, my question would be to check the possibility of loading this package by default in all components without the need to import and use in each component.

Would it be possible? If yes, how could you do it?

Thank you for your attention and for this package, it is very practical and useful.